*{
    padding:0;
    margin:0;
}
.navbar{
    padding-left:50px;
    list-style-type: none;
    text-align: right;
}
li a{
    text-decoration: none;
    color:white;
}
li{
    padding:6px;
    display:inline;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    font-size:17px;
}
a:hover{
   color:bisque;
}
header{
    background-color: #555;
    height:max-content;
}
.bg{
    background-color:beige;
    height:min-content;
}
.img1{
    width:700px;

}